{% if page.url contains "aboutus" %}
      {% assign active = "aboutus" %}
{% elsif page.url contains "ourbeliefs" %}
      {% assign active = "ourbeliefs" %}
{% elsif page.url contains "calendar" %}
      {% assign active = "calendar" %}
{% elsif page.url contains "ministries" %}
      {% assign active = "ministries" %}
{% elsif page.url contains "missions" %}
      {% assign active = "missions" %}
{% elsif page.url contains "contactus" %}
      {% assign active = "contactus" %}
{% else %}
      {% assign active = "home" %}
{% endif %}

{% if page.url contains "romania" %}
      {% assign mission = "romania" %}
{% elsif page.url contains "haiti" %}
      {% assign mission = "haiti" %}
{% elsif page.url contains "africa" %}
      {% assign mission = "africa" %}
{% else %}
      {% assign mission = "none" %}
{% endif %}

<p>
<ul>
  {% if active == "home" %}
    <li><a class="active" href="{{site.baseurl}}/">Home</a></li>
  {% else %}
    <li><a href="{{site.baseurl}}/">Home</a></li>
  {% endif %}
  {% if active == "aboutus" %}
    <li><a class="active" href="{{site.baseurl}}/aboutus">About Us</a></li>
  {% else %}
    <li><a href="{{site.baseurl}}/aboutus">About Us</a></li>
  {% endif %}
  {% if active == "ourmission" %}
    <li><a class="active" href="{{site.baseurl}}/ourmission">Our Mission</a></li>
  {% else %}
    <li><a href="{{site.baseurl}}/ourmission">Our Mission</a></li>
  {% endif %}
  {% if active == "calendar" %}
    <li><a class="active" href="{{site.baseurl}}/calendar">Calendar</a></li>
  {% else %}     
    <li><a href="{{site.baseurl}}/calendar">Calendar</a></li>
  {% endif %}
  {% if active == "ministries" %}
    <li><a class="active" href="{{site.baseurl}}/ministries">Ministries</a></li>
  {% else %}     
    <li><a href="{{site.baseurl}}/ministries">Ministries</a></li>
  {% endif %}
      
  {% if active == "missions" %}
    <li><a class="active" href="{{site.baseurl}}/missions">Missions</a></li>
    <li><a href="{{site.baseurl}}/contactus">Contact Us</a></li>
    </ul>
    <ul>
    {% if mission == "romania" %}
      <li><a class="active" href="{{site.baseurl}}/missions-romania">Romania</a></li>
    {% else %}
      <li><a href="{{site.baseurl}}/missions-romania">Romania</a></li>
    {% endif %}
    {% if mission == "africa" %}
      <li><a class="active" href="{{site.baseurl}}/missions-africa">Africa</a></li>
    {% else %}
      <li><a href="{{site.baseurl}}/missions-africa">Africa</a></li>
    {% endif %}
    {% if mission == "haiti" %}
      <li><a class="active" href="{{site.baseurl}}/missions-haiti">Haiti</a></li>
    {% else %}
      <li><a href="{{site.baseurl}}/missions-haiti">Haiti</a></li>
    {% endif %}
  {% else %}     
    <li><a href="{{site.baseurl}}/missions">Missions</a></li>
  {% endif %}
  {% if active == "contactus" %}
    <li><a class="active" href="{{site.baseurl}}/contactus">Contact Us</a></li>
  {% elsif active == "missions" %}
  {% else %}
    <li><a href="{{site.baseurl}}/contactus">Contact Us</a></li>
  {% endif %}
</ul>
</p>

