{% if page.url contains aboutus %}
      {% assign active = aboutus %}
{% elsif page.url contains calendar %}
      {% assign active = calendar %}
{% elsif page.url contains ministries %}
      {% assign active = ministries %}
{% elsif page.url contains contactus %}
      {% assign active = contactus %}
{% else %}
      {% assign active = home %}
{% endif %}

<p>
      {% page.url %}
<ul>
  {% if active == home % }
    <li><a class="active" href="{{site.baseurl}}/">Home</a></li>
  {% else %}
    <li><a href="{{site.baseurl}}/">Home</a></li>
  {% endif %}
  {% if active == aboutus % }
    <li><a class="active" href="{{site.baseurl}}/aboutus">About Us</a></li>
  {% else %}
    <li><a href="{{site.baseurl}}/aboutus">About Us</a></li>
  {% endif %}
  {% if active == calendar % }
    <li><a class="active" href="{{site.baseurl}}/calendar">Calendar</a></li>
  {% else %}     
    <li><a href="{{site.baseurl}}/calendar">Calendar</a></li>
  {% endif %}
  {% if active == ministries % }
    <li><a class="active" href="{{site.baseurl}}/ministries">Ministries</a></li>
  {% else %}     
    <li><a href="{{site.baseurl}}/ministries">Ministries</a></li>
  {% endif %}
  {% if active == contactus % }
    <li><a class="active" href="{{site.baseurl}}/contactus">Contact Us</a></li>
  { else %}
    <li><a href="{{site.baseurl}}/contactus">Contact Us</a></li>
  {% endif %}
</ul>
</p>

